{% extends 'layout.html' %} {% block title %}Products - Terra Balance
Enterprises{% endblock %} {% block content %}
<h1 class="central">Our Products</h1>
<p class="central">
  At Terra Balance Enterprises, we offer a diverse range of farming services
  designed to empower farmers and businesses.
</p>

<div class="farming-services">
  {% for product in products %}
  <div class="service-card">
    <img src="{{ product.image }}" alt="{{ product.name }}" />
    <h2>{{ product.name }}</h2>
    <p>#{{ product.price }}</p>
    <p>{{ product.description }}</p>
    <form action="{{ url_for('products.cart') }}" method="POST">
      <input type="hidden" name="name" value="{{ product.name }}" />
      <input type="hidden" name="price" value="{{ product.price }}" />
      <label for="gender{{ loop.index }}">Gender:</label>
      <select id="gender{{ loop.index }}" name="gender">
        {% for gender in product.gender_options %}
        <option value="{{ gender }}">{{ gender }}</option>
        {% endfor %}
      </select>
      <label for="color{{ loop.index }}">Color:</label>
      <select id="color{{ loop.index }}" name="color">
        {% for color in product.color_options %}
        <option value="{{ color }}">{{ color }}</option>
        {% endfor %}
      </select>
      <button type="submit" class="learn-more">Add to Cart &gt;&gt;&gt;</button>
    </form>
  </div>
  {% endfor %}
</div>
{% endblock %}
