{% extends 'layout.html' %} {% block title %}Our Services - Terra Balance
Enterprises{% endblock %} {% block content %}
<div class="service-container">
  <h1 class="central">Our Services</h1>
  <p class="central">
    Explore our range of comprehensive agricultural support services:
  </p>

  <div class="services-row">
    <div class="service-card">
      <i class="fas fa-comments"></i>
      <h3>Consultation</h3>
      <p>Initial discussion to understand your goals.</p>
    </div>
    <div class="service-card">
      <i class="fas fa-map-marker-alt"></i>
      <h3>Site Assessment</h3>
      <p>Evaluate land and resources.</p>
    </div>
    <div class="service-card">
      <i class="fas fa-cogs"></i>
      <h3>Customized Plan</h3>
      <p>Tailored setup plan for your venture.</p>
    </div>
    <div class="service-card">
      <i class="fas fa-seedling"></i>
      <h3>Implementation</h3>
      <p>Guidance for executing the setup.</p>
    </div>
    <div class="service-card">
      <i class="fas fa-chalkboard-teacher"></i>
      <h3>Training</h3>
      <p>Hands-on training programs.</p>
    </div>
  </div>

  <h2 class="central">Featured Farming Services</h2>
  <div class="farming-services">
    <div class="service-card">
      <img src="static/images/farm1.webp" alt="Goat Farming" />
      <h2>Goat Farming</h2>
      <p>
        Comprehensive training on goat rearing: breed selection, housing,
        nutrition, health management, and marketing strategies.
      </p>
      <a href="/goatfarming" class="learn-more">Register &gt;&gt;&gt;</a>
    </div>

    <div class="service-card">
      <img src="static/images/morePigs.jpg" alt="Pig Farming" />
      <h2>Pig Farming</h2>
      <p>
        Learn efficient pig farming techniques including breed selection,
        housing design, feeding, disease prevention, and market access.
      </p>
      <a href="/pigfarming" class="learn-more">Register &gt;&gt;&gt;</a>
    </div>

    <div class="service-card">
      <img src="static/images/snailFarm.webp" alt="Snail Farming" />
      <h2>Snail Farming</h2>
      <p>
        Dive into the world of snail farming and master the art of snail
        rearing, habitat creation, feeding, and optimal harvesting methods.
      </p>
      <a href="/snailfarming" class="learn-more">Register &gt;&gt;&gt;</a>
    </div>

    <div class="service-card">
      <img src="static/images/turkeyFarming.jpg" alt="Turkey Farming" />
      <h2>Turkey Farming</h2>
      <p>
        Discover the intricacies of turkey farming, from housing and nutrition
        to disease prevention and profitable marketing techniques.
      </p>
      <a href="/turkeyfarming" class="learn-more">Register &gt;&gt;&gt;</a>
    </div>

    <div class="service-card">
      <img src="static/images/horses.jpg" alt="Horse Rearing" />
      <h2>Horse Rearing</h2>
      <p>
        Learn efficient horse rearing techniques including breed selection,
        housing design, feeding, disease prevention, and market access.
      </p>
      <a href="/horsefarming" class="learn-more">Register &gt;&gt;&gt;</a>
    </div>
  </div>
</div>
{% endblock %}
