{% extends 'layout.html' %} {% block title %} Stories and Projects - Terra
Balance Enterprises {% endblock %} {% block content %}
<h1 class="central">Stories & Projects</h1>
<p class="central">
  Discover how our impactful farming projects and initiatives have transformed
  lives and supported sustainable agriculture.
</p>

<div class="projects-container">
  <div class="project-card">
    <img
      src="static/images/youthEmployment.jpg"
      alt="Youth Employment Project"
    />
    <h2>Youth Employment Initiative</h2>
    <p>
      Empowering young individuals through agricultural skills training and
      employment opportunities.
    </p>
  </div>

  <div class="project-card">
    <img src="static/images/wastemanagement.jpg" alt="Waste Management" />
    <h2>Sustainable Waste Management</h2>
    <p>Implementing eco-friendly solutions to manage agricultural waste.</p>
  </div>
</div>

{% endblock %}
